[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"

[packages]
mysqlclient = "*"
django-cors-headers = "*"
django-filter = "*"
coreapi = "*"
djangorestframework = "==3.12.4"
django = "==3.2.4"
pycryptodome = "==3.10.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver 0.0.0.0:8856"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
collect = "python manage.py collectstatic"
server = "gunicorn -c config.py backend.wsgi:application"
